{% extends "base.html.twig" %}

{% block message %}

    <div class="row">
        <div class="well">
            <center><h2>NOTE</h2></center>
            {{ form_start(formUpdateMessage, {"attr": {"novalidate": "novalidate"}}) }}
            <div class="form-group">
                <label>Message</label> {{ form_widget(formUpdateMessage.message) }}
            </div>
            <div class="form-group">
                {{ form_widget(formUpdateMessage.visibility) }}
            </div>
            {{ form_end(formUpdateMessage) }}

            <a class="btn btn-default" href="{{ path("home") }}">CANCEL</a>
        </div>
    </div>

{% endblock %}
