{% extends 'base.html.twig' %}
 
{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="{{ path('home') }}">Home</a></li>
            <li role="presentation"><a href="{{ path('user_index') }}">Users</a></li>
            <li role="presentation" class="active"><a href="{{ path('user_settings', {'id': app.user.id}) }}">My account</a></li>
        </ul>
    {% endif %} <br>

    <div class="col-lg-4 col-md-4 col-xs-12">
        {{ form(formSettings,{"attr": {"novalidate": "novalidate"}}) }}

        <label>Password</label> <a href="{{ path('fos_user_change_password', {'id': app.user.id}) }}"><i>Change password</i></a>
    </div>

{% endblock %}
